  <!-- footer start -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="footer-row">
            <a href="./" class="logo">
              <img src="img/logo.png" alt="Matin Insurance Services">
            </a>
            <div class="footer-logos">
              <div class="footer-logos__box">
                <img src="img/home/rating.png" alt="rating">
              </div>
              <div class="footer-logos__box">
                <img src="img/home/reviews.png" alt="reviews">
              </div>
              <div class="footer-logos__box">
                <img src="img/home/stars.png" alt="stars">
              </div>
            </div>
            <div class="header-contact">
              <p>free quote online or call</p>
              <a href="tel:8776114647">877-611-4647</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer end -->