// project colors
$white: #ffffff;
$black: #000000;
$textColor: $black;
$blue: #313D64;
$gray: #333333;
$grayLight: #666666;
$grayLighter: #999899;
$grayLighter100: #E0E0E0; 
$orange: #F56C03;
$hoverOrange: #CD5900;
$clickColor: #B74F00;
// timing
$hover-duration: .4s;
$duration: .8s;
$timing: cubic-bezier(.7, 0, .3, 1);
